h1{
    text-align: center;
    color: green;
}
p{
    text-align: center;
    font-size: large;
}
img{
    height: 300px;
    width: 250px;
    margin-left: 50%;
}
.wall{
    color: rgb(77, 14, 160);
    i
}
